body {
  height: 100vh;
}
#js-notification {
  font-size: x-large;
  font-weight: bolder;
  background-color: tomato;
  color: wheat;
  text-align: center;
  padding: 10px;
}
#header {
  color: blueviolet;
  font-size: 32px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
#via {
  font-weight: 100;
}
#js {
  font-weight: 900;
  font-style: italic;
  color: indigo;
}
#wrapper {
  height: 100%;
}
#editor {
  height: 100%;
  display: flex;
  text-align: center;
}

#editor > div:nth-child(1) {
  flex-grow: 1;
}
#editor > div {
  padding: 5px 15px;
}
#editor > div:nth-child(2) {
  min-width: 200px;
  border-left: 1px solid black;
}
div.cols {
  display: flex;
  justify-content: space-between;
}
div.cols > div {
  width: 49%;
  text-align: center;
}
div.cols > div input {
  width: 80px;
  text-align: center;
}

@media print {
  #editor-right,
  #navbar {
    display: none;
  }
}
