body {
  height: 100vh;
}
#header {
  color: blueviolet;
  font-size: 32px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
#via {
  font-weight: 100;
}
#js {
  font-weight: 900;
  font-style: italic;
  color: indigo;
}
#wrapper {
  height: 100%;
}
#editor {
  display: flex;
  height: 100%;
}
#editor > div {
  border: 3px solid grey;
  padding: 5px;
}
#editor > div:first-child {
  flex-grow: 1;
}
#editor-right {
  width: 100px;
}
#footer {
  position: absolute;
  bottom: 2px;
  text-align: center;
  width: 90%;
  left: 5%;
}
